/*.label
{
   -fx-background-color: brown; 
}

.button
{
   -fx-background-color: aqua;


}

.tab-pane
{
	-fx-background-color: #95a6f0;
	

}
.tab-header-background
{
    -fx-background-color: #95a6f0;
}

.column-header
{
    -fx-backgroud-color: #fff ;
}
*/