nav{
    background-color: transparent;
}

.nav-header {
   padding:  .5rem 1rem;
}
.container {
    background-image:  src="images/rasp.jpg";
}
#container-cards{
margin: auto;
width: 100%;

}
.img{
    height: 225;
     width: 100%;
     
}





